.App {
  text-align: center;
  font-family: "Courier New", "monospace";
  width: 100%;
}

h1 {
  font-weight: normal;
  font-size: 42px;
  font-family: "Gotham-Bold", "Courier New";
}

.react-flow__attribution {
  display: none;
}

@font-face {
  font-family: Gotham-Bold;
  src: url("https://group1-tots-mern.herokuapp.com/static/Gotham-Bold.otf") format("opentype");
}

@font-face {
  font-family: GothamMedium;
  src: url("https://group1-tots-mern.herokuapp.com/static/GothamMedium.ttf") format("truetype");
}

.no-borderRadius {
  /* border: 10px solid #FEDF8C; */
  border-radius: 30px;
  background-color: white;
  height: 100%;
  width: 90%;
}

.passwords {
  list-style: none;
  padding: 0;
  font-size: 32px;
  margin-bottom: 2em;
}

.more {
  font-size: 32px;
  font-family: "Courier New", monospace;
  border: 2px solid #000;
  background-color: #fff;
  padding: 10px 25px;
}
.more:hover {
  background-color: #FDD836;
}
.more:active {
  background-color: #FFEFA9;
}

